@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-50 dark:bg-cdi-navy text-stone-900 dark:text-stone-50 antialiased;
    margin: 0;
  }
}

@layer utilities {
  .scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: #d6d3d1 transparent;
  }
}
